[project]
	description = Term Base exchange (TBX) Utilities
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Lance Helsten (lanhel)
[access "refs/for/refs/*"]
	read = group user/Lance Helsten (lanhel)
	push = group user/Lance Helsten (lanhel)
	label-Code-Review = -2..+2 group user/Lance Helsten (lanhel)
	label-Verified = -1..+1 group user/Lance Helsten (lanhel)
	rebase = group user/Lance Helsten (lanhel)
	removeReviewer = group user/Lance Helsten (lanhel)
	submit = group user/Lance Helsten (lanhel)
[access "refs/heads/*"]
	read = group user/Lance Helsten (lanhel)
	create = group user/Lance Helsten (lanhel)
	push = +force group user/Lance Helsten (lanhel)
	pushMerge = group user/Lance Helsten (lanhel)
[access "refs/tags/*"]
	push = +force group user/Lance Helsten (lanhel)
	pushTag = group user/Lance Helsten (lanhel)
	pushSignedTag = group user/Lance Helsten (lanhel)
